
.translate {
    position: absolute;
    right: 85%;
    align-items: center;
}
  
.translate-image img{
    max-width: 2vw;
    position: relative;
    cursor: pointer;
}

.hide {
    display: none;
}
  
.visible {
    display: block !important; /* Mostrar las opciones cuando la clase visible está presente */
}