.section-title {
    font-size: 160px;
    letter-spacing: 1.6px;
    -webkit-text-stroke: 2px rgba(65, 76, 49, 0.2);
    color: var(--secondary-color);
}

.section-title-bg {
    -webkit-text-stroke: 2px rgba(65, 76, 49, 0.3);
    color: transparent;
}

.hero-title {
    font-size: 238px;
    letter-spacing: 2.38px;
    line-height: 0.8em;
}

.hero-bg-text {
    -webkit-text-stroke: 2px rgba(226, 219, 201, 0.3);
    color: transparent;
}

.content-title {
    font-size: 69px;
    letter-spacing: -3.45px;
}

.subtitle {
    font-size: 30px;
    letter-spacing: -1.5px;
}

.date-text {
    font-size: 18px;
    letter-spacing: 2.16px;
    color: var(--text-muted);
}
