/* ------------------- CONTACTO ------------------- */  

.contacto {
    font-family: 'Portfolio-Font', sans-serif;
    background-color: var(--color-A);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.contacto .container {
    max-width: 60vw; /* Establecer el ancho máximo al 60% de la ventana */
    color: #fff;
}

.contacto h1 {
    font-size: 6rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contacto .info {
    display: flex;
    justify-content: center;
    margin-right: 3vw;
}

.contacto .info > div {
    margin-right: 10vw; /* Ajusta el valor según tu preferencia */
}

/* Para eliminar el margen derecho del último div */
.contacto .info > div:last-child {
    margin-right: 0;
}

.contacto .info p {
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: bold;
    word-spacing: 0.3rem;
}

.contacto .info a {
    color: var(--color-E);
}