.portfolio {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5%;
    font-size: 10vw;
    font-weight: lighter;
}

ul.listmargin {
    margin-left: 42%;
    text-align: left;
}

div.bgimage {
    background-image: url(../img/Juegos/BG_Porfolio.png);
    background-size: cover; /* Ajustar al tamaño de la ventana */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    background-attachment: fixed;
    max-width: 100%;
    height: 720px;
}

.circle {
    width: 100px; /* Cambia el valor para ajustar el tamaño del círculo */
    height: 100px; /* Igual que el valor de width para mantenerlo redondo */
    border-radius: 50%; /* Esto hace que el borde sea redondeado */
    overflow: hidden; /* Recorta la imagen para que se ajuste al círculo */
}

.circle img {
    width: 100%; /* Asegúrate de que la imagen llene el círculo */
    height: 100%; /* Asegúrate de que la imagen llene el círculo */
}

.contact {
    display: flex; 
    justify-content: space-between;
}