.portfolio {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5%;
    font-size: 200px;
    font-weight: lighter;
}

ul.listmargin {
    margin-left: 42%;
    text-align: left;
}

div.bgimage {
    background-image: url(../img/Juegos/BG_Porfolio2.png);
    background-size: cover; /* Ajustar al tamaño de la ventana */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    background-attachment: fixed;
    max-width: 100%;
    height: 720px;
}

.circle {
    width: 100px; /* Cambia el valor para ajustar el tamaño del círculo */
    height: 100px; /* Igual que el valor de width para mantenerlo redondo */
    border-radius: 50%; /* Esto hace que el borde sea redondeado */
    overflow: hidden; /* Recorta la imagen para que se ajuste al círculo */
}

.circle img {
    width: 100%; /* Asegúrate de que la imagen llene el círculo */
    height: 100%; /* Asegúrate de que la imagen llene el círculo */
}

.contact {
    display: flex; 
    justify-content: space-between;
}







div.list_container {
    min-height: 700px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    /*background: #ddd;*/
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
}

.list_container h1{
    text-align: left;
    position: relative;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0%;
}

.list_container a {
    text-decoration: none;
}

.list_container ul {
    display: inline-block;
    margin: 10px;
    margin-bottom: 5em;
    margin-top: 5em;
    width: 95%;
    padding: 0;
}



.list_container li{
    /* background: rgba(100, 100, 100, .5); */
    background: #96969633;
    background-attachment: fixed;
    background-size: cover;
    display: table;
    list-style-type: none;
    margin: auto;
    margin-bottom: 2em;
    text-decoration: none;
    width: 90%;
    color: black;
    max-height: 100px;
    height: 100px;
    transition: 0.3s;
    padding: 0%;
    position: relative;

    font-family: 'Quicksand', sans-serif;

}

.list_container li:hover{
    width: 100%;
    max-height: 120px;
    height: 120px;
    background-image: url("../images/background/background2.png");
    /* background-color: #222; */
    color: white;
}

.list_container li:hover h1{
    color:white;
    transition: 0.2s;
}

.list_container li img{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
}

.list_container li h1{
    color: black;
    text-align: left;
    position: relative;
    font-size: 20px;
    left: 25%;
    margin-left: 20px;
}

.list_container li p{
    width: 50%;
    text-align: left;
    position: relative;
    left: 25%;
    margin-left: 20px;
    font-size: 15px;

    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
}

.list_container li:hover p, .list_container li:hover h1{
    margin-left: 10px;
}