/* Configuracion general */
:root{

    /* Paleta */
    /*      HEX         */
    --color-A: #4b1139;
    --color-B: #3b4058;
    --color-C: #2a6e78;
    --color-D: #7a907c;
    --color-E: #c9b180;
    --color-F: #ffd47e;

}


.palette-selector {
    position: relative;
    right: 13vw;
    display: flex;
    align-items: center;
}
  
.custom-select {
    position: relative;
    width: 6vw;
    cursor: pointer;
}

.selected-option {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: gray;
    border-radius: 4px;
}
  
.options {
    display: none;
    position: absolute;
    background-color: gray;
    width: 100%;
    top: 100%;
    left: 0;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.palette-selector img {
    max-width: 100px; /* Ajusta el ancho máximo de las imágenes */
    max-height: 50px; /* Ajusta la altura máxima de las imágenes */
    margin-right: auto; /* Añade un espacio a la derecha de la imagen */
    display: block;
    margin-left: auto;
}

.option {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: var(--hover-color); /* Define el color al pasar el mouse */
}

.custom-select.open .options {
    display: block;
}

.option div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}



.hide {
    display: none;
}
  
.visible {
    display: block !important; /* Mostrar las opciones cuando la clase visible está presente */
}

